.app-wrapper {
  display: grid;
  margin: auto;
  width: 1200;
  
grid-template-areas: 
"h h"
"n c"; 

grid-template-rows: 60px 1fr;
grid-template-columns: 2fr 10fr;
/* grid-gap: 10px; */

}

.header {
grid-area: h;
background-color: rgb(51, 161, 161);
}
.header img {
  width: 50px;
}

.nav {
grid-area: n;
background-color:rgb(71, 51, 161) ;
}

.content {
grid-area: c;
background-color:rgb(161, 159, 51) ;
}